/*TraMel Marshall 3/29/2019*/
/*Styles css*/
body {background-color:#90C7E3;
		color:#666666;
		font-family: Arial, Helvetica, sans-serif;
		background-image: linear-gradient(#FFFFFF,#90C7E3);
	}
	

	
	
header {background-color:#334cff ;
			color:#FFFFFF;
			background-image: url(sunset.jpg);
			background-repeat: no-repeat;
			background-position: right;
			text-align:center;
			height:60px;
			padding-top:9x;
			color: #FFFFFF;
			
			}
nav{ background-color: #33d4ff;
		font-weight: bold;
		text-align:center;
		padding:9px;}
		
nav a { line-height: 100%; 
		color: #000000;
		text-decoration: none; 
		padding-right: 9px;
	
}

nav ul {list-style-type: none;
text-align: center;
font-size: 1.5em;
margin: 5px;  

} 

nav li {display: inline; }
		
h1 {margin-bottom:0;
	margin-top:0px;
	font-family: Georgia, 'Times New Roman', serif;
	}

h2 {color:#3399CC;
	text-shadow: 1px 1px 1px #CCCCCC;
	font-family: Georgia, 'Times New Roman', serif;
		}
		
h3 {font-family: Georgia, 'Times New Roman', serif;
}
main {padding-top:1px;
		padding-right:9px;
		padding-bottom:9px;
		padding-left:9px;
		display:block;
	
}	

ul {list-style-image: url(marker.gif);
	}
footer {font-size: 75%;
		padding:9px;
		font-style: italic;
		font-family: Georgia, 'Times New Roman', serif;
		text-align: center;
		}


/*This is a picture of a mamachari bike with a group of people*/
.png-mamachari1 { 
			width:1400px;
			height:920px;
			background-image: url(img/mamachari1.png);
			background-size: 75%;
			background-repeat: no-repeat;
			
}

/*This is a picture of people that participated in mamachari bike workshop*/
.png-workshop { 
			width:1400px;
			height:507px;
			background-image: url(img/workshop.png);
			background-size: 100%

}

/*This is a picture of a man on a mamachari bike*/
.jpg-manonbike { 
			width:1400px;
			height:933px;
			background-image: url(img/manonbike.jpg);
			background-size: 100%
			
		
}

/*This is a picture of workshop group outside*/
.png-group { 
			width:1400px;
			height:923px;
			background-image: url(img/group.png);
			background-size: 100%
}


#wrapper {width: 80%;
	margin: auto;
	background-color:#FFFFFF;
	min-width: 960px;
	max-width:2048px;
	box-shadow:3px 3px 3px #333333;
	}

/*Change one of my pictures*/